$body-background-color: #b3ccff;
$mainAnk-background-color: rgba(135, 155, 191, 0.9);
$error-background-color: rgb(183, 26, 57);
$statistic-background-color: rgb(26, 183, 42);
$success-background-color: rgba(16, 55, 121, 0.9);
$failcheck-background-color: #b80000;
$statistic-background-color: #94c8cf;
$generator-background-color: rgb(16 40 80);
